body {
  font-family: "SF Pro", -apple-system, sans-serif;
  font: 15px;
  color: #191919;
  text-align: left;
  line-height: 150%;
  background-color: #FBFAF7;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  margin: 0;

}
p{
  font-size: 15px;
}
strong{
  font-weight: 600;
}

button {
  background:#000000;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  outline: none;
  cursor: pointer;
  max-width: fit-content;
  font-family: "SF Mono", monospace;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 40px;
}
button:hover {
  background: #1d1d1d;
  
}
h1{ 
  font-size: 40px;
  line-height: 110%;
  margin:40px 0 16px 0;
  text-align: center;
}
h2, h3, h4{
  font-weight: 600;
   margin-bottom: 8px
}
ul{
  font-size: 15px;
}
.logo{
  margin-right: 8px;
}

.primary-text{
  color: #191919;
  margin:0;
  text-align: left;
}
.comments-text{
  margin-top: 16px;
  margin-bottom: 0;
  color: #191919;
  text-align: left;
}
.comments-text:last-of-type:not(:only-of-type) {
  margin: 0;
}
.secondary-text{
  color: #707070;
  margin:0;
  text-align: center;
}
.header-content-unauthenticated{
  padding: 40px 0 40px 0;
  min-height: 50vh;
}
.header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commentsPanel{
  background-color: #ffffff;
  border-top: 1px solid transparent;
  border-image: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 4px, transparent 4px, transparent 8px) 1;
  padding: 24px;
  min-height: 40vh;
}
.pageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px 24px 24px;
  position: relative;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.CommentsContainer{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin-top: 24px;
}
.connect-button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.tertiary-button{
  background-color: transparent;
  color: #191919;
  font-family: "SF Mono", monospace;
  text-transform: uppercase;
  font-weight: 400;
}
.tertiary-button:hover{
  background-color: rgba(0, 0, 0, 0.07);
}
hr{
  border: none;
  height: 1px;
  background-color: #CCCCCC;
  box-shadow: none;
}
.date-range-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 24px;
  gap: 8px;
}
select{
  max-width: 200px;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #949494;
  background-color: transparent;
  font-family: inherit;
  font-size: 15px;
  height: 40px;
}
.tab-navigation{
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
  width: 100%;
}
.tab-button{
  padding: 8px 0px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  font-weight: 400;
  color: #666;
  margin-right: 8px;
  margin-bottom: -1px;
}
.tab-button.active{
  border-bottom: 2px solid #191919;
  font-weight: 600;
  color: #191919; 
}
.tab-button:hover, .tab-button.active:hover{
  background-color: transparent;
}
.grid-container{
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.grid-line-horizontal{
  position: absolute;
  width: 100%;
  border-top: 1px solid transparent;
  border-image: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 4px, transparent 4px, transparent 8px) 1;
}
.grid-line-vertical{
  position: absolute;
  height: calc(100% + 64px);
  border-left: 1px solid transparent;
  border-image: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 4px, transparent 4px, transparent 8px) 1;
}
.grid-line-horizontal.top{
  top: 40px;
}
.grid-line-horizontal.bottom{
  bottom: 24px;
}
.grid-line-vertical.left{
  left: 24px;
  top: -64px;
}
.grid-line-vertical.right{
  right: 24px;
  top: -64px;
}
.loader-container{
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.loader-item{
  position: absolute;
  font-size: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-state-image{
  width: 150px;
  margin: 40px auto;
  display: block;
}
.chunking-warning-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.warning-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}
.warning-content p, .warning-content h4{
  margin: 0;
}
.warning-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}