/* Styles for CommentReferenceBadge.tsx */

.comment-reference-badge-wrapper {
  /* display: inline-block; */
  margin-left: 0.125rem; 
  margin-right: 0.125rem; 
  margin-top: -2px;
  vertical-align: middle;
}

.comment-reference-badge {
  background-color: #f3f3f3;
  color: #7a7a7a; 
  font-size: 10px; 
  font-weight: 500; 
  padding: 2px 4px; 
  border-radius: 4px; 
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.comment-reference-badge:hover, 
.comment-reference-badge:focus {
  background-color: #E1F2FF;
  color: #0B99FF;
}

.comment-reference-badge:focus {
  outline: 2px solid #0B99FF;
  outline-offset: 2px;
}

.comment-tooltip {
  z-index: 50;
  width: 18rem; 
  padding: 1rem; 
  background-color: #FFFFFF; 
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.tooltip-user-handle {
  font-weight: 600;
  margin:0;
}

.tooltip-message {
  margin-bottom:16px;
  margin-top: 4px;
  white-space: pre-wrap;
  word-break: break-word;
 
}

.tooltip-meta {
  margin:0;
  font-size: 0.75rem;
  color: #707070; 
} 